*{
    margin: 0;
    padding: 0;

}

.nav-main {
    /*left: 50%; centrado respecto a la ventana 
    transform: translateX(-50%);  corrige la posición para centrar bien */
    background-color: #E9EDF6;
    color: rgb(0, 0, 0);
    width: 96dvw;
    height: 5dvh;
    padding: 0 2dvw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom-style: solid;
    border-color: #dee9fe;
    border-width: 1px;
}

.nav-links a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}


body{
    background-color: #F5F5F5;
}

.max-windows-center{
    display: flex;
    background: linear-gradient(120deg, #1e3c72, #2a5298); /* degradado */
    background-size: cover;
    background-position: center;
    filter: blur(4px); /* desenfoque general */
    z-index: -1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

.mainIndex{
    background: #3737B3;
    background: linear-gradient(304deg, rgba(55, 55, 179, 0.300) 0%, rgba(44, 175, 219, 0.300) 50%, rgba(55, 55, 179, 0.300) 100%);
    color: rgb(0, 0, 0);
    margin: 0 auto 20dvh auto;
    width: 30dvw;
    height: auto;
    padding: 2dvw;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;

    border-style: solid;
    border-color: #6783b80d;
}

.mainIndex input {
    background-color: rgba(255, 255, 255, 0);
    padding: 1dvh 1dvw;
    margin-top: 3dvh;
    border-radius: 3px;
}

.mainIndex p {
    color: rgb(93, 0, 0);
    margin-top: 2dvh;
}

.main {
    background-color: #E9EDF6;
    color: rgb(0, 0, 0);
    margin: 3dvh auto 0 auto;
    width: 92dvw;
    height: 87dvh;
    padding: 0 2dvw;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    border-style: solid;
    border-color: #6783b80d;
}

.dashboard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.dashboard div{
    background-color: rgba(127, 255, 212, 0);
    width: 20rem;
    height: 15rem;
    margin: 1;
    border-radius: 7px;
    border-style: solid;
    border-color: #dee9fe;
}

.dashboard div:hover{
    background-color: #dee9fe;
    border-color: #d4e3ff;
}


/*-----------------------------------------------------------------------------------*/

.mt-1 {
    margin-top: 1dvh;
}

.mb-1 {
    margin-bottom: 1dvh;
}