<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/main.css">
</head>
<body class="body">
    <nav class="nav-main">
        <div>
            <a href="#"><img src="/src/LinkOnline_Logo.svg" alt="Link Online" height="23dvh"></a>
        </div>

        <div id="userText">PERFIL: Kahla Catriel <BR>BIENVENIDO: Sistemas</div>
    </nav>

    <main class="main">
        <h2 class="mt-1"><u>Servicios Digitales</u></h2>
        <div class="dashboard">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        
    </main>

    <script>
        if(sessionStorage.getItem("user")!=undefined){
            let session = sessionStorage.getItem("user");
            document.getElementById("userText").innerHTML= "Perfil: " + session;
        }else{
            window.location.href = "/index.html"
        }
    </script>
</body>
</html>